
 .circulov {
    margin-left: -20px;
    /* height: auto;
        width: auto;  */
        background-color: #FF4057;
        /* border-radius: 50%; */
        
      }
      
 .nome-projeto {
    color: #FF4057;
 }

      
  