body {
    background: linear-gradient(135deg, #4e0814, #87CEEB);
  }
  
  .container {
    background: linear-gradient(45deg, #691818, #eaeaea);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(172, 39, 39);
    padding: 10px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 30px;
    background: linear-gradient(45deg, #eaeaea, #691818);
    padding: 10px;
    border-radius: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  p {
    margin-bottom: 5px;
  }

  #img {
    width: 12%;
    align-content: center;
    border-radius: 50%;
    overflow: hidden;
  }
  