@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --bs-card-spacer-y: 0rem;
  }
.left-arroy button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
}
.left-arroy {
    padding-left: 5%;
    padding-top: 15px;
}

.text-arow {
    padding-left: 3%;
    padding-top: 35px;
}

#btnplus {
    margin-left: -20px;
}

#form-oc {
    width: 30%;
}

.custom-range::-webkit-slider-thumb {
    background: gray;
  }
  
  .custom-range::-moz-range-thumb {
    background: gray;
  }
  
  .custom-range::-ms-thumb {
    background: gray;
  }
  -webkit-slider-thumb:active {
    background-color: red;
}
-webkit-slider-thumb,
.custom-range:focus::-webkit-slider-thumb, 
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
    box-shadow: red;
}

#checkbox-c-1 {
    margin-top: -1.5px;
    margin-right: 5px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .hidden-s {
    opacity: 0;
    visibility: hidden;
  }
  
  .show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }


h1 {
    font-family: 'Inter', sans-serif;
}
h2 {
    font-family: 'Inter', sans-serif;
}
h3 {
    font-family: 'Inter', sans-serif;
}
h4 {
    font-family: 'Inter', sans-serif;
}
h5 {
    font-family: 'Inter', sans-serif;
}
h6 {
    font-family: 'Inter', sans-serif;
}
